@model IEnumerable<Estudo.Models.MensalidadeViewModel>
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using NonFactors.Mvc.Grid;

@{
	ViewData["Title"] = "Mensalidade";
	Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
	var employee = Model.FirstOrDefault();
}

<h4>Mensalidades</h4>
<hr />

<div class="table-responsive">
	<div class="col-md-8">
		<div class="container">
			<div class="text-center">
				@(
					Html
						.Grid(Model)
						.Build(columns =>
						{
						@*columns.Add().Titled("Código")
						.Encoded(false)
						.RenderedAs(model => "<label type='hidden' class = 'control-label'>" + model.Codigo + "</label>");
*@
						@*columns.Add().Titled("TESTE")
						.Encoded(false)
						.RenderedAs(model => model.Codigo + "</br>" + model.Descricao);*@
						columns.Add(model => model.Codigo).Titled("Código");
				columns.Add(model => model.Descricao).Titled("Descrição");
						columns.Add(model => model.Valor).Titled("Valor");
						columns.Add((model) => Html.ActionLink("", "Cadastrar", new { id = model.Codigo }, new{ @class = " fas fa-edit", style="color: #75849f; " }));
						columns.Add((model) => Html.ActionLink("", "Excluir", new { id = model.Codigo }, new { @class = " fa fa-minus", style="color: #75849f; " }));

						@*columns.Add().Titled("")
						.Encoded(false)
						.RenderedAs(model =>  "<div><a href='./Mensalidade/Cadastrar/" + model.Codigo + "'><i class='fas fa-pen'></i></a> &nbsp <a href='./Mensalidade/Excluir/" + model.Codigo + "'><i class='fas fa-minus'></i></a></div>");*@
					})
					.Filterable(GridFilterCase.Lower)
					.Using(GridFilterMode.Excel)
					.Empty("Nenhum resultado encontrado!")
					.Pageable(pager =>
					{
						pager.RowsPerPage = 15;
					})
					.Sortable()
					)
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<div class="container">
			<div class="text-right">
				<input type="button" value="Novo" class="btn btn-outline-secondary" onclick="Novo();" />
			</div>
		</div>
	</div>
</div>

<script src="~/js/mvc-grid.js"></script>
<script>
	document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
</script>

<script>
	function Novo() {
		window.location = window.origin + "\\Mensalidade\\Cadastrar";
	}
</script>
