@model Estudo.Models.GerarPagamentoViewModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using NonFactors.Mvc.Grid;
@{
	ViewData["Title"] = "Cadastro de Mensalidade";
	Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
	//var disabled = (Model.Codigo == null) ? "disabled" : string.Empty;
}

<h4>Cadastro de Mensalidade</h4>
<hr />

<div class="container">
	<div class="col-2"></div>
	<div class="col-8">
		<form id="Pessoas" method="post" action="Cadastrar" class="row g-3">

			

			<div class="col-md-10">
				<div class="form-group">
					<label>Quantidade de recorrências:</label>
					<span asp-validation-for="Recorrencia" class="text-danger"></span>
					<input type="text" asp-for="Recorrencia" class="form-control" />
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<label>Data da primeira mensalidade:</label>
					<input type="datetime" asp-for="DataInicio" class="form-control" />
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<label>Prefixo:</label>
					<input type="text" asp-for="Prefixo" class="form-control" />
				</div>
			</div>

			<hr />

			<div class="container text-right ">
				<input type="submit" value="Salvar" class="btn btn-outline-secondary" />
				@*<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#confirm" @disabled>Excluir</button>
				*@<input type="button" value="Voltar" class="btn btn-outline-secondary" onclick="Voltar()" />
			</div>

			
			<div class="modal fade" id="confirm" role="dialog">
				<div class="modal-dialog modal-md">

					<div class="modal-content">
						<div class="modal-body">
							<p> QUER REALMENTE FAZER ISSO?? NÃO POR FAVOR, EU TENHO FILHOS</p>
						</div>
						<div class="modal-footer">
							@*<input type="button" value="Excluir" class="btn btn-outline-secondary" onclick="Excluir(@Model.Codigo)" @disabled />
							*@<button type="button" data-dismiss="modal" class="btn btn-outline-secondary">Cancelar</button>
						</div>
					</div>

				</div>
			</div>


		</form>
	</div>
	<div class="col-2"></div>
</div>

<script>
	function Excluir(Codigo) {
		window.location = window.origin + "\\Mensalidade\\Excluir\\" + Codigo;
	}

	function Voltar() {
		window.location = window.origin + "\\Mensalidade";
	}
</script>
