@model Estudo.Models.PessoasViewModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using NonFactors.Mvc.Grid;
@{
	ViewData["Title"] = "Cadastro de Pessoas";
	Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
	var disabled = (Model.Codigo == null) ? "disabled" : string.Empty;
}

<h4>Pessoas</h4>
<hr />

<div class="container">
	<div class="col-2"></div>
	<div class="col-8">
		<form id="Pessoas" method="post" action="Cadastrar">

			<div class="row">
				<div class="form-group">
					<label>Código:</label>
					<input type="text" asp-for="Codigo" disabled class="form-control" />
					@*<textbox-template asp-for="Codigo" value="@Model.Codigo"></textbox-template>*@
					<input type="hidden" asp-for="Codigo" class="form-control" />
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<label>Nome:</label>
					<span asp-validation-for="Nome" class="text-danger"></span>
					<input type="text" asp-for="Nome" class="form-control" />
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<label>Status:</label>
					<select asp-for="Status" class="form-control" >
						<option value="1">Inicial</option>
						<option value="2">Segunda Fase</option>
					</select>
					<item></item>
				</div>
			</div>

			<hr />

			<div class="container text-right ">
				<input type="submit" value="Salvar" class="btn btn-dark" />
				<input type="button" value="Excluir" class="btn btn-dark" onclick="Excluir(@Model.Codigo)" @disabled />
				<input type="button" value="Voltar" class="btn btn-dark" onclick="Voltar()" />
			</div>

		</form>
	</div>
	<div class="col-2"></div>
</div>

<script>
	function Excluir(Codigo) {
		window.location = window.origin + "\\Pessoas\\Excluir\\" + Codigo;
	}

	function Voltar() {
		window.location = window.origin + "\\Pessoas";
	}
</script>
